<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PSTS6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          @*@media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }*@
    </style>
    <!-- Custom styles for this template -->
    <link href="\dashboard\dashboard.css" rel="stylesheet">



</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">PSTS6</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*<input class="form-control form-control-dark w-50" id="SearchText" name="SearchText" type="text" placeholder="Search" aria-label="Search">*@

        @*<form style="width:75%;">

            <input class="form-control form-control-dark w-50" id="SearchText" name="SearchText" type="text" placeholder="Search" aria-label="Search">

            <input type="submit" value="Search" class="search-button" />

        </form>*@
        <form style="width:60%;" formmethod="get" >
            <input class="form-control form-control-dark w-100"  id="SearchText" name="SearchText" formaction="@Url.Action("Search", "GetData")" type="text" placeholder="Search" aria-label="Search" >
            <input hidden type="submit" value="Search"  formaction="@Url.Action("GetData", "Search")"/>
        </form>

        <ul class="navbar-nav px-5">
            <partial name="_LoginPartial" />
        </ul>

    </nav>
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="sidebar-sticky pt-3">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>My Work</span>

                        </h6>
                        <ul class="nav flex-column">


                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <span data-feather="home"></span>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">
                                    <span data-feather="file"></span>
                                    Projects
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Dashboards" asp-action="Index">
                                    <span data-feather="file-text"></span>
                                    Dashboards
                                </a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">
                                    <span data-feather="users"></span>
                                    Users
                                </a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link">
                                    <span data-feather="bar-chart-2"></span>
                                    Reports
                                </a>
                            </li>*@

                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Settings</span>

                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    <span data-feather="file-text"></span>
                                    Privacy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ProjectTemplates" asp-action="Index">
                                    <span data-feather="file-text"></span>
                                    Templates
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Settings
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
                <div class="container-fluid col-md-8">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

            </div>
        </div>

        

</div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - PSTS6 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>*@
        <script src="\dashboard\dashboard.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
