@model PSTS6.Models.ProjectTemplateViewModel


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TaskTemplates) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <input type="button" class="btn-sm btn-primary" title="Open" value="Open" onclick="location.href='@Url.Action("Edit","TaskTemplates", new {id=item.ID})'" />

            </td>
            <td>
                <input type="button" class="btn-sm btn-danger" title="Delete" value="Delete" onclick="location.href='@Url.Action("Delete","TaskTemplates", new {id=item.ID})'" />
            </td>
        </tr>
}
    </tbody>
</table>
