@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UserDashboardViewModel
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

<h2>This is User Dashboard</h2>
<div class="row">
    
    <div class="col-5">


        <h2>Planned Activities</h2>
        <nav aria-label="Planned Activities Paging">
            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.PlannedActivities })
        </nav>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>EED</th>
                    <th>% Completed</th>
                    <th>Budget</th>
                    <th>Spent</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PlannedActivities)
                {

                    <tr>
                        <td>@item.Name</td>
                        <td>@item.EstimatedEndDate</td>
                        <td>@item.PrcCompleted</td>
                        <td>@item.Budget</td>
                        <td>@item.Spent</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        <h2>Pending Activities</h2>
        <nav aria-label="Pending Activities Paging">

            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.PendingActivities })
        </nav>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>EED</th>
                    <th>% Completed</th>
                    <th>Budget</th>
                    <th>Spent</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PendingActivities)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.EstimatedEndDate</td>
                        <td>@item.PrcCompleted</td>
                        <td>@item.Budget</td>
                        <td>@item.Spent</td>
                        <td></td>
                    </tr>
                }
                <tr>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="row">

    <div class="col-5">


        <h2>Overbudget Activities</h2>
        <nav aria-label="Planned Activities Paging">
            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.OverBudgetActivities })
        </nav>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>EED</th>
                    <th>% Completed</th>
                    <th>Budget</th>
                    <th>Spent</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OverBudgetActivities)
                {

                    <tr>
                        <td>@item.Name</td>
                        <td>@item.EstimatedEndDate</td>
                        <td>@item.PrcCompleted</td>
                        <td>@item.Budget</td>
                        <td>@item.Spent</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        <h2>Finished Activities</h2>
        <nav aria-label="Pending Activities Paging">

            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.FinishedActivities })
        </nav>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>EED</th>
                    <th>% Completed</th>
                    <th>Budget</th>
                    <th>Spent</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FinishedActivities)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.EstimatedEndDate</td>
                        <td>@item.PrcCompleted</td>
                        <td>@item.Budget</td>
                        <td>@item.Spent</td>
                        <td></td>
                    </tr>
                }
                <tr>
                </tr>
            </tbody>
        </table>

    </div>
</div>